body {
  height: 100%; 
  overflow: hidden; 
  margin: 0;
}

#settings {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 0;
  opacity: 0.5;
}

#menu {
  position: absolute; 
  top: 16px; 
  left: 16px;
  opacity: 0;
  padding: 10px;
}

#menu:hover {
  opacity: 1;
}

#reset {
  margin-right: 10px
}

#preset-row {
  margin-top: 10px;
}

#presets {
  margin-top: 0px;
}

#presets button {
  margin-top: 0px;
}

#colors {
  margin-top: 0px;
}


#colors button {
  margin-top: 0px;
}

#menu-text {
  position: absolute;
  right: 10px;
}

#menu-flair {
  position: absolute;
  left: 20px;
  top: 260px;
}